.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  margin-top: 30px;
  .social__btn--github {
    background-color: transparent;
    color: azure;
    margin-bottom: 5px;
  }
  .social__btn--kakao {
    background-color: transparent;
    color: rgb(255, 242, 0);
    margin-bottom: 5px;
  }
  .social__btn--naver {
    background-color: transparent;
    color: rgb(21, 218, 21);
  }
}
